*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  background: #1f1f1f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
body { 
  width: 400px;
  color: #ccc;
}

main {
  padding: 5px;
}

h1 {
  margin: 0 0 15px;
  font-size: 16px;
  color: #007cc3;
}

h2 {
  margin: 25px 0 10px;
  font-size: 16px;
  color: #fff;
}

a {
  color: #007cc3;
  font-weight: bold;
}

.important {
  color: #f22;
}