/* Live chat iframe */

@mixin scrollbar-thin {
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border: 0;
  }
}

@mixin scrollbar-dark {
  scrollbar-color: rgba(255, 255, 255, .2) rgba(0, 0, 0, .15);
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .15);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .2);
  }
}

@mixin scrollbar-light {
  scrollbar-color: rgba(0, 0, 0, .2) rgba(255, 255, 255, .15);
  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .15);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
  }
}

body {
  --yt-live-chat-action-panel-background-color: none;
}

yt-live-chat-banner-manager,
yt-live-chat-renderer,
yt-live-chat-header-renderer,
yt-live-chat-ticker-renderer,
yt-live-chat-text-message-renderer,
#card.yt-live-chat-viewer-engagement-message-renderer,
#menu.yt-live-chat-text-message-renderer,
#container.yt-live-chat-restricted-participation-renderer {
  background: none !important;
}

yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer {
  @include scrollbar-thin();
}

// Todo: Only style when upper frame has html[data-ambilight-enabled="true"]
html[dark] {
  yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer {
    @include scrollbar-dark();
  }
  #unfocused.yt-live-chat-text-input-field-renderer {
    background: rgba(255, 255, 255, .1);
  }
}

html:not([dark]) {
  yt-live-chat-item-list-renderer[allow-scroll] #item-scroller.yt-live-chat-item-list-renderer {
    @include scrollbar-light();
  }
  #unfocused.yt-live-chat-text-input-field-renderer {
    background: rgba(0, 0, 0, .1);
  }
}

yt-live-chat-ninja-message-renderer {
  background: none !important;
}