//Reduce theater mode flicker when switching between enabled and disabled
.watch-stage-mode #theater-background {
  transition: none;
}

html[data-ambilight-classic="true"] {

body {
  background: #000;
}

#a11y-announcements-container {
  transform: translateY(-100%);
}

#old-browser-alert {
  display: none;
}

#appbar-guide-menu, .guide-flyout,
#yt-masthead-container.at-top,

#yt-masthead-container.at-top #masthead-search:not(:hover):not(:focus-within) #masthead-search-terms,
#yt-masthead-container.at-top #masthead-search:not(:hover):not(:focus-within) .search-btn-component,

.watch-stage-mode #theater-background,
.player-api,
.html5-video-player:not(.ytp-transparent), .html5-video-player.unstarted-mode, .html5-video-player.ad-interrupting, .html5-video-player.ended-mode, .html5-video-player.ytp-fullscreen,

#player-playlist .watch-playlist,
#player-playlist .playlist-videos-list,
#player-playlist .playlist-videos-list .yt-ui-ellipsis,

.yt-thumb,

.yt-card,

body #footer-container {
  background: none !important;
  border-color: transparent;
  box-shadow: none;
}

#yt-masthead-container.at-top #masthead-search:not(:hover):not(:focus-within) #masthead-search-terms,
#yt-masthead-container.at-top #masthead-search:not(:hover):not(:focus-within) .search-btn-component {
  border-color: rgba(255,255,255,.1);
}

#yt-masthead-container.at-top,
#masthead-search #masthead-search-terms,
#masthead-search .search-btn-component {
  transition: all .2s;
}

#appbar-guide-menu {
  background: rgba(10,10,10,.95) !important;
}
#guide-container {
  pointer-events: all;
}

#appbar-guide-menu, .guide-flyout, .guide-item,
.yt-card,
.video-list .video-list-item .title,
#watch-header .yt-user-info a,
#watch-description,
.watch-view-count,
#watch7-sidebar .watch-sidebar-head,
.yt-badge,
.yt-subscription-button-subscriber-count-branded-horizontal, 
.yt-subscription-button-subscriber-count-unbranded-horizontal,
.comment-section-header-renderer {
  color: rgba(255,255,255,.95);
}
#watch7-sidebar .video-list-item:hover a .title, 
#watch7-sidebar .video-list-item:hover a .title .yt-deemphasized-text {
  color: #24a0ff;
}
#watch7-sidebar .video-list-item a:visited .title, 
#watch7-sidebar .video-list-item a:visited .title .yt-deemphasized-text {
  color: rgba(240, 240, 240, 0.65);
}
#watch7-sidebar .video-list-item:hover a:visited .title, 
#watch7-sidebar .video-list-item:hover a:visited .title .yt-deemphasized-text,
#action-panel-details a {
  color: #24a0ff;
}
#watch7-sidebar .video-list .video-list-item .stat {
  color: rgba(240, 240, 240, 0.65);
}
#yt-masthead-container.at-top #masthead-search-terms:not(:hover):not(:focus-within) input {
  color: rgba(240, 240, 240, 0.65);
}

.autoplay-bar .checkbox-on-off {
  color: rgba(240, 240, 240, 0.65);
}
.autoplay-bar .autoplay-info-icon {
  filter: invert(1);
}

#footer .pickers .yt-uix-button, #footer-main > .yt-uix-button, #page .yt-uix-button,
.yt-card .yt-uix-button-expander:hover {
  background: rgba(255,255,255,0);
  color: rgba(255,255,255,.95);
}
#appbar-guide-button {
  background: none;
}
#yt-masthead-container:hover #appbar-guide-button {
  filter: invert(1);
}

.guide-section-separator,
#player-playlist .control-bar,
#watch8-action-buttons,
.yt-card .yt-uix-button-expander,
.comment-simplebox-renderer,
.comment-simplebox-renderer-collapsed-content,
#watch7-sidebar .watch-sidebar-separation-line,
#footer-main {
  border-color: rgba(255,255,255,.2);
}

.comment-simplebox-arrow .arrow-inner {
  display: none;
}

.comment-simplebox,
.comment-simplebox-text {
  background: none;
  color: #fff;
}

#player-playlist:not(.watch-queue-nav) .playlist-videos-list li.currently-playing {
  background: rgba(255,255,255,.123);
}
#player-playlist .playlist-videos-list li:hover {
  background: rgba(255,255,255,.132);
}

.yt-scrollbar-dark ::-webkit-scrollbar-track,
.yt-scrollbar ::-webkit-scrollbar-thumb {
  border-left-color: rgba(255,255,255,.1);
  background: rgba(255,255,255,.05);
}


.standalone-collection-badge-renderer-text a,
#watch8-action-buttons .yt-uix-button, #watch8-action-buttons .yt-uix-button:hover, #action-panel-dismiss, #action-panel-dismiss:hover {
  background: rgba(255,255,255,0);
  color: rgba(255,255,255,.6) !important;
}

.yt-uix-button-opacity {
  opacity: .75;
}

#page .yt-uix-button-default, 
#page .yt-uix-button-default[disabled], 
#page .yt-uix-button-default[disabled]:hover, 
#page .yt-uix-button-default[disabled]:active, 
#page .yt-uix-button-default[disabled]:focus {
  background: rgba(255,255,255,0);
  color: rgba(255,255,255,1) !important;
  border-color: rgba(255,255,255,.2);
}

#watch8-sentiment-actions .like-button-renderer .yt-uix-button {
  padding-right: 10px;
}

.yt-uix-button-subscribed-branded, .yt-uix-button-subscribed-branded[disabled], .yt-uix-button-subscribed-branded[disabled]:hover, .yt-uix-button-subscribed-branded[disabled]:active, .yt-uix-button-subscribed-branded[disabled]:focus, .yt-uix-button-subscribed-unbranded, .yt-uix-button-subscribed-unbranded[disabled], .yt-uix-button-subscribed-unbranded[disabled]:hover, .yt-uix-button-subscribed-unbranded[disabled]:active, .yt-uix-button-subscribed-unbranded[disabled]:focus,
.yt-subscription-button-subscriber-count-branded-horizontal, .yt-subscription-button-subscriber-count-unbranded-horizontal,
.yt-badge{
  background: rgba(255,255,255,0);
  border-color: rgba(255,255,255,.2);
}

.like-button-renderer-like-button:not(.yt-uix-button-toggled):not(:active):before,
.like-button-renderer-dislike-button:before,
.addto-button:before,
.action-panel-trigger-share:before,
#action-panel-overflow-button:before, 
.action-panel-trigger-overflow:before,
.yt-uix-subscription-preferences-button:before,
#yt-masthead-container.at-top .yt-uix-button-icon-material-upload,
#yt-masthead-container.at-top .yt-uix-button-icon-bell,
#yt-masthead-creation-button:before,
.yt-uix-button-action-menu:before, 
.yt-uix-button-lockup-action-menu:before,
#comment-section-renderer .sprite-like:before,
#comment-section-renderer .sprite-dislike:before,
.comment-replies-renderer-expander-down:after,
#footer .yt-uix-button-default .yt-uix-button-icon {
  filter: invert(1);
}

.like-button-renderer-dislike-button-clicked.yt-uix-button-toggled {
  opacity: 1;
}

#watch-sidebar-live-chat .yt-uix-expander-collapsed {
  background: transparent !important;
}


/* Immersive mode */

&[data-ambilight-immersive-mode="true"]:not(.show-guide) body[data-spf-name="watch"] {

  #yt-masthead-container,
  #watch7-content,
  #watch7-sidebar {
    transition: opacity .15s ease-out;
    will-change: opacity;
    transition-delay: 0s;
  }

  &.at-top {
    #yt-masthead-container,
    #watch7-content,
    #watch7-sidebar {
      &:not(:hover) {
        opacity: 0;
        transition-delay: 0.25s;
      }
    }
  }
}

}